DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.your-project-ref.supabase.co:5432/postgres
ENCRYPTION_MASTER_KEY=replace-with-long-random-secret-min-32-chars
NEXTAUTH_SECRET=replace-with-long-random-secret-min-32-chars
